<section>
	<div class="charger-info mx-3 mx-md-1 mt-3 mt-md-2">
		<div class="d-flex align-items-center">
			<img
				src="/img/status-station.png"
				alt="logo-link"
				class="img-settings"
			/>
			<div class="text-charger-info">
				<span style="font-weight: 500;">Статус:</span>
				{{#if charger.onLink}}
				{{#if charger.estabState}}
				<div id="status" class=""><span>в сети / занята</span> </div>
				{{else}}
				<div id="status" class=""><span>в сети / свободна</span> </div>
				{{/if}}
				{{else}}
				{{#if charger.estabState}}
				<div id="status" class=""><span>не в сети / занята</span> </div>
				{{else}}
				<div id="status" class=""><span>не в сети / свободна</span> </div>
				{{/if}}
				{{/if}}
			</div>
		</div>
		<div class="d-flex align-items-center mt-3">
			<img
				src="/img/location-station.png"
				alt="logo-link"
				class="img-settings"
			/>
			<div class="text-charger-info">
				{{charger.address}}
				{{#if (if_eq charger.stationNum 18) }}
					<div><span style="color:red; font-size: 1rem;">Платная парковка с 22:00 до 7:00 </span></div>
					{{/if}}

					{{#if (if_eq charger.stationNum 15) }}
					<div><span style="color:red; font-size: 1rem;">Парковка оплачивается отдельно 100р/12часов</span></div>
					{{/if}}

					{{#if (if_eq charger.stationNum 37) }}
					<div><span style="color:red; font-size: 1rem;">Доступ только для работников СГК</span></div>
					{{/if}}
			</div>
		</div>
		<div class="d-flex align-items-center mt-3">
			<img
				src="/img/type-station.png"
				alt="logo-link"
				class="img-settings"
			/>
			<div class="text-charger-info">
				<span style="font-weight: 500;">№ </span>{{charger.stationNum}}, 3.5 кВт<br>
				<span style="font-weight: 500;">Напряжение:</span> {{charger.voltage}}
			</div>
		</div>
		<div class="d-flex align-items-center mt-3">
			<img
				src="/img/rub-station.png"
				alt="logo-link"
				class="img-settings"
			/>
			<div class="text-charger-info">
				<span style="font-weight: 500;">Стоимость: </span> {{charger.price}} руб/кВт*ч<br>
				 <span style="font-weight: 500;">Баланс: </span>{{charger.balance}} руб.
			</div>
		</div>
	</div>
</section>
<section>
	<div class="accordion mt-2" id="accordionExample">
		<div class="accordion-item">
			<div class="accordion-header" id="headingOne">
				<button class="more-info-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<div class="d-flex mx-2 align-items-center">
						<img
							src="/img/info-50.png"
							alt="logo-link"
							class="img-settings"
						/>
						<div class="text-charger-info">
							Дополнительная информация
						</div>
					</div>
				</button>
			</div>
			<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div class="more-info">
						<div class="contener-txt">
							<div class="contener-light-title ">Ожидаемое время завершения заряда:</div>
							<div class="txt-green pd-green"><span id="expectedTime">--:--</span></div>
						</div>
						<div class="contener-txt-next">
							<div class="contener-light-title ">Потребляемая мощность:</div>
							<div class="txt-green pd-green"><span id="power"> {{charger.pwr}} кВт</span></div>
						</div>
						<div class="contener-txt-next">
							{{#if charger.userIsMatch}}
							<div class="contener-light-title "><span id="consumedPowerTitle">Потребление с активации:</span></div>
							<div class="txt-green pd-green"><span id="consumedPower"> {{charger.cPwr}} кВт*ч</span>
								{{else}}
								<div class="contener-light-title "><span id="consumedPowerTitle" hidden>Потребление с активации:</span>
								</div>
								<div class="txt-green pd-green"><span hidden id="consumedPower"> {{charger.cPwr}} кВт*ч</span>
									{{/if}}
								</div>
							</div>
						<div class="help-wrap">
							<div class="help">
								<a href="tel:+7(996)054-32-33">
									<img src="img/hotpng.png" alt="">
									Помощь
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="timer">
		<span id="hours">--</span>
		:
		<span id="min">--</span>
		:
		<span id="sec">--</span>
	</div>

	<div class="btn-wrap">
		{{#if charger.userIsMatch}}
		<button id="controlButton" onclick="ControlButtonClick();">
			{{#if charger.estabState}}
			Остановить зарядку
			{{else}}
			Начать зарядку
			{{/if}}
			{{else}}
			<button style="opacity: 0;" disabled id="controlButton" onclick="ControlButtonClick();">
				{{#if charger.estabState}}
				Остановить зарядку
				{{else}}
				Начать зарядку
				{{/if}}
				{{/if}}
			</button>
	</div>

</section>

</div>

<script src="js/index.js"></script>