<div class="mx-4" style="margin-bottom: 120px">
    <div class="commonText mt-4">Выберите сумму, руб.:</div>
    <br>
    <form>
        {{#each paymentValues}}
        <input type="radio" id=RB_{{@index}} name="values" value={{this}} {{#unless @index }} checked {{/unless}}>
          <label style="font-weight: 250;" class="commonText" for=RB_{{@index}}>{{this}}</label><br>
        {{/each}}
    </form>
    <br>

    <p hidden id="paymentValuesArrayLength">{{ paymentValues.length }}</p>
    <div class="d-flex justify-content-center">
        <button class="classical-btn" onclick="pay()">
            Оплатить
            <img
                src="img/tinkoff.png"
                style="width: 30px; height: 30px"
            >
            <img
                src="img/Sberbank_Logo_2020.svg.jpg"
                style="width: 30px; height: 30px"
            >
        </button>
    </div>
</div>


<script>
    function pay() {

        let radios = document.getElementsByTagName('input');
        let params = {};
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].type === 'radio' && radios[i].checked) {
                params = { summ: radios[i].value};
            }
        }
        console.log(params)

        $.ajax({
            url: '/pay',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(params),
            success: (data) => {

                if (data.success === true) {
                    window.location.href = data.url;
                }
                else {
                    alert("Ошибка сервиса");
                }
            }
        })
    }
</script>