<div class="pyment-list-screen">
	<div class="admin-header mt-4 d-flex align-items-center">
		<a href="/profile">
			<img
				src="img/icons8-back-50.png"
				alt="back"
				class="back-img"
			>
		</a>
		Платежи
	</div>
	<div class="mobile-table">
		<table class="mt-4 mt-md-3 mb-5 mb-md-3 table text-center" id="historyTable">
				<thead>
						<tr>
							<th class="th-table">Пользователь</th>
							<th class="th-table">Сумма</th>
							<th class="th-table">Дата</th>
							<th class="th-table">Время</th>
						</tr>
				</thead>
				<tbody>
				{{#each paymentList}}
					<tr>
						<td><a href='/userSessions?userPhone={{this.userPhone}}'>{{this.userPhone}}</a></td>
						<td>{{this.Amount}}</td>
						<td>{{this.date}}</td>
						<td>{{this.time}}</td>
					</tr>
					{{/each}}
				</tbody>
		</table>
	</div>
</div>
