<div style="min-height: 629px; max-height: 630px; overflow-y: auto;">
	<div class="mobile-table">
		<table class="mt-5 mt-md-3 mb-5 mb-md-3 table" id="historyTable">
				<thead>
						<tr>
							<th class="th-table">Пользователь</th>
							<th class="th-table">Сумма</th>
							<th class="th-table">Дата</th>
							<th class="th-table">Время</th>
						</tr>
				</thead>
				<tbody>
				{{#each paymentList}}
					<tr>
						<td><a href='/userSessions?userPhone={{this.userPhone}}'>{{this.userPhone}}</a></td>
						<td>{{this.Amount}}</td>
						<td>{{this.date}}</td>
						<td>{{this.time}}</td>
					</tr>
					{{/each}}
				</tbody>
		</table>
	</div>
</div>
